body {
  margin: 0px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  color: white;
}

a:hover {
  color: #1db954;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0px 15px;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.nav-style {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.image {
  width: 132px;
}

.nav-link {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  text-align: center;
  height: 800px;
  background-color: #2d46b9;
  background-image: url(https://www.scdn.co/i/home/lieVariants/bursts-tablet.svg);
  background-position: center;
  display: flex;
  justify-content: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 754px;
  margin-top: 100px;
  color: #1ed760;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 104px;
  font-weight: 800;
  line-height: 104px;
  margin-bottom: 40px;
}

.button {
  height: 48px;
  width: 228px;
  color: #2940a8;
  background-color: #1ed760;
  border-width: 0px;
  border-radius: 500px;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: white;
  transition: 0.5s;
}

footer {
  height: 350px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 60px 0px;
}

.foot-left {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  height: 54px;
  width: 54px;
  background-color: #222326;
  border-radius: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.external-links {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.title {
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  color: #919496;
  font-weight: 900;
}

.country {
  font-size: 12px;
  color: #919496;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 5px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  font-size: 12px;
  color: #919496;
  margin-right: 0px;
  margin-right: 20px;
}
